<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VMS.Varis.Base" publicKeyToken="269c551a9712e7cc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.0.13" newVersion="0.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VMS.Varis.Base.Shared" publicKeyToken="269c551a9712e7cc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.0.13" newVersion="0.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VMS.TempFileManagement" publicKeyToken="269c551a9712e7cc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.0.1" newVersion="0.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>